@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;400;700&display=swap");
@font-face {
  font-family: Poetsen;
  src: url(../fonts/PoetsenOne-Regular.ttf);
  font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans SC', sans-serif; }

body {
  background: #00416A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E4E5E6, #00416A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

nav {
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.nav-link {
  color: blue; }

header {
  color: #F8CA00;
  background-color: #6a1b9a; }

.jumbotron {
  background-image: url(../img/Jumbotron.svg);
  height: 80vp;
  background-size: cover; }

.display-1 {
  color: #F8CA00;
  font-family: Poetsen;
  text-align: right;
  transition: all 2s; }

.display-1:hover {
  font-size: 25px;
  transition: ease-in-out; }

.lead {
  text-align: end; }

.display-1__NN {
  color: #F8CA00;
  font-family: Poetsen;
  text-align: right;
  font-size: 10vw; }

.lead__NN {
  text-align: end; }

.container-fluid__SectionNiñxs {
  padding: 2rem;
  text-align: center;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1571210862729-78a52d3779a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  color: cornsilk; }

.row {
  padding: auto;
  margin-top: 3rem; }

h5 {
  color: darkblue; }

.AgentesE {
  background-color: #38006b;
  margin: 3rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  color: cornsilk; }

/*Página Niños y Niñas*/
.jumbotronNN {
  background-image: url(../img/FondoGalaxia.svg);
  background-size: cover;
  height: 80vp;
  color: #F8CA00;
  font-family: Poetsen;
  text-align: center; }

.display-1NN {
  color: #F8CA00;
  font-family: Poetsen;
  align-items: center; }

.containerSlider {
  margin: 2rem;
  padding: 2rem; }

.containerNN_3 {
  background-color: #6a1b9a;
  margin: 2rem;
  padding: 2rem;
  border-radius: 2rem; }

.ScapeRoom__NN {
  margin: 2rem;
  padding: 2rem; }

.ActividadesCpG {
  display: grid;
  gap: 1em; }

.ActividadesCpG div {
  background-color: #9c4dcc;
  padding: 2vh;
  align-items: center;
  justify-self: center;
  align-self: center; }

.ActividadesCpG_Titulo {
  grid-column: 1/4; }

.ActividadesCpG div:hover {
  border: 3px solid #000; }

.CerebroAnidado {
  display: grid;
  gap: 1em;
  margin: 5vh; }

.Cerebro_Anidado_Img {
  display: grid;
  justify-content: center; }

.Brain:hover {
  transition: all 2s;
  transform: scale(1.5, 1.5); }

.EmocionesAnidado {
  display: grid;
  gap: 1em; }

.Emociones_Anidado_Img {
  display: grid;
  justify-content: center; }

.Emotions:hover {
  transition: all 2s;
  transform: scale(1.5, 1.5); }

.container-fluid__CP {
  padding: 2rem;
  text-align: center;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/415824/pexels-photo-415824.jpeg?cs=srgb&dl=pexels-pixabay-415824.jpg&fm=jpg);
  background-size: cover;
  color: cornsilk; }

footer {
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #F8CA00; }

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto; }

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px; }

.icon-bar a:hover {
  background-color: #000; }

/*Página de Contacto*/
.container__Contacto {
  position: relative;
  max-width: 800px;
  margin: 0 auto; }

.container__Contacto img {
  vertical-align: middle; }

.container__Contacto .content {
  position: sticky;
  bottom: 0;
  background: black;
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px; }

.Forms {
  background-color: #f7cb2d;
  padding: 5rem;
  margin: 5rem;
  border-radius: 2rem; }
