@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;400;700&display=swap');

@font-face {
    font-family: Poetsen;
    src: url(../fonts/PoetsenOne-Regular.ttf);
    font-weight: bold;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Noto Sans SC', sans-serif;     
}

$ancho: 450px;
$purple: #6a1b9a;
$yellow:  #F8CA00;


header{
    color:$yellow; background-color:$purple;
    }

    #imagenPrincipal {
        background-image: url(../img/logo\ izquierda.png);
        background-size:cover;
        width: 100%;
        height: $ancho;
    }

    #fondogalaxia {
        background-image: url(../img/fondogalaxia.png);
        background-size: cover;
        width: 100%;
        $ancho / 2;
    }

.principal {
    color: #F8CA00;
    font-family: Poetsen;
    text-align:right;
    font-size: 100px;
    padding: 120px 32px 50px; 
    transition: all 2s;
}
.principal:hover{
    font-size: 105px;
    transition: ease-in-out;
    }
/*Página Cuidadores Primarios*/



.ActividadesCpG {
    display: grid;
    gap: 1em;
   
}
.ActividadesCpG div {
    background-color: #9c4dcc;
    padding: 2vh;
    align-items: center;
    justify-self: center ;
    align-self: center;
}

.ActividadesCpG_Titulo {
    grid-column: 1/4;
}

.ActividadesCpG div:hover {
    border: 3px solid #000
}

.CerebroAnidado{
    display: grid;
    gap: 1em;
    margin: 5vh;
}

.Cerebro_Anidado_Img{
    display: grid;
    justify-content: center;
}
.Brain:hover{
    transition: all 2s;
    transform: scale(1.5,1.5);
}

.EmocionesAnidado{
    display: grid;
    gap: 1em;
}
.Emociones_Anidado_Img{
        display: grid;
        justify-content: center;
    }
.Emotions:hover {
    transition: all 2s;
    transform: scale(1.5,1.5);
}    

